<table class="table">
  <thead>
    <tr>
      <th scope="col">RoleId</th>
      <th scope="col">PermissionId</th>

    </tr>
  </thead>
  <tbody class="rolePermissions">
    <tr *ngFor="let rolepermission of rolePermissions">
      <td>{{rolepermission.RoleId}}</td>
      <td>{{rolepermission.PermissionId}}</td>
    </tr>
  </tbody>
</table>
<button type="button" style="margin-left: 25%;margin-top: 1%;" class="btn btn-primary" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  Add permission
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Permission details</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="new-role">RoleId</label>
            <input type="text" readonly formControlName="RoleId" class="form-control" id="new-role" #newRole
              aria-describedby="nameHelp" placeholder="Enter name">
            <small id="nameHelp" class="form-text text-muted"></small>
          </div>
          <div class="form-group">
            <label for="new-permission">PermissionId</label>
            <select type="text" formControlName="PermissionId" class="form-control" id="new-permission" #newPermission
              aria-describedby="nameHelp" placeholder="Enter name">
              <option *ngFor="let permission of permissionList" [value]="permission.Id">{{permission.Id}}</option>
            </select>
            <small id="nameHelp" class="form-text text-muted"></small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="add-button" class="btn btn-primary" (click)="add();">
          Add permission
        </button>
      </div>
    </div>
  </div>