<table class="table">
  <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody class="countries">
    <tr *ngFor="let country of countries">

      <td>{{country.Name}}</td>
      <td>
        <button class="btn btn-primary mx-3" (click)="editButtonClick(country.Id)">Edit</button>
      </td>
      <td><button class="delete" class="btn btn-danger" title="delete country" (click)="delete(country)">Delete</button>
      </td>

    </tr>
  </tbody>
</table>
<button type="button" style="margin-left: 25%;margin-top: 1%;" class="btn btn-primary" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  Add country
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Country details</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formValue">
          <div class="form-group">
            <label for="new-country">Name</label>
            <input type="text" formControlName="Name" class="form-control" id="new-country" #newCountry
              aria-describedby="nameHelp" placeholder="Enter name">
            <small id="nameHelp" class="form-text text-muted"></small>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button class="add-button" class="btn btn-primary" (click)="add(); newCountry.value=''">
          Add country
        </button>

      </div>
    </div>
  </div>
</div>